{% extends 'base.html' %}
{% block content %}

<div>
    <div class="text-center jumbotron bg-primary text-light">
        <h1 class="">Pro-ductivity</h1>
        <h2>Select your activity</h2>
    </div>
    <hr>
    <div class="container text-center">
        <h2>Don't count the days; make the days count.</h2>
        <p class="lead">Muhammad Ali</p>
    </div>
    <hr>
    <div class="row m-1">
        <div class="col card m-1 ">
            <h1 class="text-center">To-do</h1>
            <div class="text-center">
                <button class="btn btn-primary mb-2">More</button>
            </div>
        </div>
        <div class="col card m-1">
            <h1 class="text-center">Pomodoro</h1>
            <div class="text-center">
                <button class="btn btn-primary mb-2">More</button>
            </div>
        </div>
        <div class="col card m-1">
            <h1 class="text-center">Timetable</h1>
            <div class="text-center">
                <button class="btn btn-primary mb-2">More</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}